Repository aiidateam/aiida-sssp-workflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, version-number

.pre-commit-config.yaml:

# Install pre-commit hooks via:
# pre-commit install
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        exclude: >-
            (?x)^(
                tests/.*.*out|
                tests/.*.in$
            )$

-   repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=140',
            '--fail-on-change',
        ]

-   repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.30.0
    hooks:
    -   id: yapf
        name: yapf
        types: [python]
        args: ['-i']

-   repo: https://github.com/PyCQA/pylint
    rev: pylint-2.6.0
    hooks:
    -   id: pylint
        language: system
        exclude: &exclude_files >
            (?x)^(
                setup.py|
                examples/.*|
                docs/.*|
                tests/sample_processes.py|
                tests/.*(?<!\.py)$
            )$

-   repo: local
    hooks:

    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
        require_serial: true
        pass_filenames: true
        files: >-
            (?x)^(
                aiida_sssp_workflow/__init__.py|
            )$

    -   id: version-number
        name: Check version numbers
        entry: python ./.github/check_version.py
        language: system
        files: '^(setup.json)|(aiida_sssp_workflow/__init__.py)'

autodoc_mock to build doc in readthedocs
  .github/workflows/ci.yml
  docs/source/conf.py
Due: none

docs: package without install
  .pre-commit-config.yaml
  .readthedocs.yaml
  .readthedocs.yml
  docs/source/conf.py
  docs/source/index.rst
Due: none

Replace all legacy orm.UpfData with aiida-pseudo
  .aiida-testing-config.yml
  .pre-commit-config.yaml
  aiida_sssp_workflow/cli/workflows/delta_factor.py
  aiida_sssp_workflow/cli/workflows/verification.py
  aiida_sssp_workflow/helpers.py
  aiida_sssp_workflow/utils.py
  aiida_sssp_workflow/workflows/bands.py
  aiida_sssp_workflow/workflows/cohesive_energy.py
  aiida_sssp_workflow/workflows/convergence/bands.py
  aiida_sssp_workflow/workflows/convergence/base.py
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/eos.py
  aiida_sssp_workflow/workflows/phonon_frequencies.py
  aiida_sssp_workflow/workflows/pressure.py
  aiida_sssp_workflow/workflows/protocol.yml
  aiida_sssp_workflow/workflows/verifications.py
  examples/_static
  examples/convergence/example_cohesive_energy.py
  examples/create_lanthanides.py
  examples/example_delta_factor.py
  setup.json
  tests/_static/Si_ONCV_PBE-1.2.upf
  tests/_static/_static
  tests/input_files/__init__.py
  tests/input_files/file1.txt
  tests/input_files/file2.txt
  tests_workflow/conftest.py
  tests_workflow/test_delta_factor.py
Due: version-number

Refine the delta workflow to concrete form
  aiida_sssp_workflow/calculations/birch_murnaghan_fit.py
  aiida_sssp_workflow/helpers.py
  aiida_sssp_workflow/sssp_protocol.yml
  aiida_sssp_workflow/workflows/_eos.py
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/evaluate/_bands.py
  aiida_sssp_workflow/workflows/evaluate/_cohesive_energy.py
  aiida_sssp_workflow/workflows/evaluate/_phonon_frequencies.py
  aiida_sssp_workflow/workflows/evaluate/_pressure.py
  examples/_static
  examples/example_delta_factor.py
  setup.py
  tests/_static/La.GGA-PBE-paw-v1.0.UPF
  tests/_static/O_ONCV_PBE-1.2.upf
  tests/_static/_static
  tests/test_calcfunction.py
  tests/test_calcfunction/test_birch_murnaghan_fit.yml
Due: none

Replay all convergence with legacy version
  aiida_sssp_workflow/calculations/calculate_bands_distance.py
  aiida_sssp_workflow/sssp_protocol.yml
  aiida_sssp_workflow/utils.py
  aiida_sssp_workflow/workflows/bands_distance.py
  aiida_sssp_workflow/workflows/evaluate/_bands.py
  aiida_sssp_workflow/workflows/evaluate/_cohesive_energy.py
  aiida_sssp_workflow/workflows/evaluate/_phonon_frequencies.py
  aiida_sssp_workflow/workflows/evaluate/_pressure.py
  aiida_sssp_workflow/workflows/legacy_convergence/__init__.py
  aiida_sssp_workflow/workflows/legacy_convergence/bands.py
  aiida_sssp_workflow/workflows/legacy_convergence/cohesive_energy.py
  aiida_sssp_workflow/workflows/legacy_convergence/engine.py
  aiida_sssp_workflow/workflows/legacy_convergence/phonon_frequencies.py
  aiida_sssp_workflow/workflows/legacy_convergence/pressure.py
  examples/evaluate/example_band.py
  examples/evaluate/example_cohesive_energy.py
  examples/evaluate/example_phonon_frequencies.py
  examples/evaluate/example_pressure.py
  examples/example_band_evaluation.py
  examples/example_bands_distance.py
  examples/legacy_convergence/example_band.py
  examples/legacy_convergence/example_cohesive_energy.py
  examples/legacy_convergence/example_phonon_frequencies.py
  examples/legacy_convergence/example_pressure.py
  setup.json
  tests/_static/Si.pbe-n-kjpaw_psl.1.0.0.UPF
  tests/_static/Si.pbe-nl-rrkjus_psl.1.0.0.UPF
  tests/test_utils.py
Due: version-number

round the numerical result of birch-murnagen fit
  aiida_sssp_workflow/calculations/birch_murnaghan_fit.py
  tests/test_calcfunction/test_birch_murnaghan_fit.yml
Due: none

skip tests with import problem
  aiida_sssp_workflow/workflows/convergence/phonon_frequencies.py
  aiida_sssp_workflow/workflows/convergence/pressure.py
  tests/test_calcfunction.py
Due: none

CLI: delta factor verification
  aiida_sssp_workflow/cli/__init__.py
  aiida_sssp_workflow/cli/options.py
  aiida_sssp_workflow/cli/workflows/delta_factor.py
  examples/example_delta_factor.py
Due: none

release 0.2.0-alpha.0
  CHANGELOG.md
  aiida_sssp_workflow/__init__.py
  setup.json
Due: mypy, version-number

verification workflow
  '
  aiida_sssp_workflow/workflows/verifications.py
  examples/example_verification.py
  examples/legacy_convergence/example_phonon_frequencies.py
  examples/legacy_convergence/example_pressure.py
Due: none

efficient protocol parameters change
  aiida_sssp_workflow/sssp_protocol.yml
Due: none

Replace F77 efermi with pure python efermi
  '
  .gitignore
  .pre-commit-config.yaml
  aiida_sssp_workflow/calculations/calculate_bands_distance.py
  aiida_sssp_workflow/efermi.f
  aiida_sssp_workflow/efermi.pyf
  aiida_sssp_workflow/efermi_module-f2pywrappers.f
  aiida_sssp_workflow/efermi_modulemodule.c
  aiida_sssp_workflow/sssp_protocol.yml
  aiida_sssp_workflow/workflows/bands_distance.py
  aiida_sssp_workflow/workflows/legacy_convergence/bands.py
  aiida_sssp_workflow/workflows/legacy_convergence/pressure.py
  docs/source/_static/logo.png
  docs/source/conf.py
  docs/source/images/AiiDA_transparent_logo.png
  docs/source/index.rst
  efermi/__init__.py
  efermi/efermi.py
  efermi/efermi_module-f2pywrappers.f
  efermi/efermi_modulemodule.c
  pyproject.toml
  setup.json
  setup.py
  sssp/efermi.cpython-37m-x86_64-linux-gnu.so
  tests/test_efermi.py
Due: version-number

setting dual in delta workflow
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/verifications.py
Due: none

release 0.2.0-alpha.1
  CHANGELOG.md
  aiida_sssp_workflow/__init__.py
  setup.json
Due: mypy, version-number

change pypi publish CI
  .github/workflows/publish-on-pypi.yml
Due: none

workflows.evaluate as a module
  aiida_sssp_workflow/workflows/evaluate/__init__.py
Due: none

verification WF: options and parallelization not required
  aiida_sssp_workflow/workflows/verifications.py
  examples/example_verification.py
Due: none

WorkChain: put all duplicate convergence wf codes into _base.py
  aiida_sssp_workflow/cli/__init__.py
  aiida_sssp_workflow/cli/tools/__init__.py
  aiida_sssp_workflow/cli/tools/dump.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/legacy_convergence/bands.py
  aiida_sssp_workflow/workflows/legacy_convergence/cohesive_energy.py
  aiida_sssp_workflow/workflows/legacy_convergence/engine.py
  aiida_sssp_workflow/workflows/legacy_convergence/phonon_frequencies.py
  aiida_sssp_workflow/workflows/legacy_convergence/pressure.py
  aiida_sssp_workflow/workflows/verifications.py
  efermi/__init__.py
  examples/evaluate/example_cohesive_energy.py
  examples/example_verification.py
  examples/legacy_convergence/example_band.py
  examples/legacy_convergence/example_cohesive_energy.py
  examples/legacy_convergence/example_phonon_frequencies.py
  examples/legacy_convergence/example_pressure.py
  pyproject.toml
Due: none

WorkChain: put all duplicate convergence wf codes into _base.py (#59)
  aiida_sssp_workflow/cli/__init__.py
  aiida_sssp_workflow/cli/tools/__init__.py
  aiida_sssp_workflow/cli/tools/dump.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/legacy_convergence/bands.py
  aiida_sssp_workflow/workflows/legacy_convergence/cohesive_energy.py
  aiida_sssp_workflow/workflows/legacy_convergence/engine.py
  aiida_sssp_workflow/workflows/legacy_convergence/phonon_frequencies.py
  aiida_sssp_workflow/workflows/legacy_convergence/pressure.py
  aiida_sssp_workflow/workflows/verifications.py
  efermi/__init__.py
  examples/evaluate/example_cohesive_energy.py
  examples/example_verification.py
  examples/legacy_convergence/example_band.py
  examples/legacy_convergence/example_cohesive_energy.py
  examples/legacy_convergence/example_phonon_frequencies.py
  examples/legacy_convergence/example_pressure.py
  pyproject.toml
Due: none

Add pseudo parser package to parse the pseudo header
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/legacy_convergence/bands.py
  aiida_sssp_workflow/workflows/legacy_convergence/cohesive_energy.py
  aiida_sssp_workflow/workflows/legacy_convergence/phonon_frequencies.py
  aiida_sssp_workflow/workflows/legacy_convergence/pressure.py
  pseudo_parser/__init__.py
  pseudo_parser/upf_parser/__init__.py
  pyproject.toml
  test_pseudo_parser/__init__.py
  test_pseudo_parser/test_upf.py
Due: none

Add pseudo parser package to parse the pseudo header (#60)
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/legacy_convergence/bands.py
  aiida_sssp_workflow/workflows/legacy_convergence/cohesive_energy.py
  aiida_sssp_workflow/workflows/legacy_convergence/phonon_frequencies.py
  aiida_sssp_workflow/workflows/legacy_convergence/pressure.py
  pseudo_parser/__init__.py
  pseudo_parser/upf_parser/__init__.py
  pyproject.toml
  test_pseudo_parser/__init__.py
  test_pseudo_parser/test_upf.py
Due: none

Verification WF: add pseudo_info to outputs
  aiida_sssp_workflow/cli/tools/dump.py
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/verifications.py
  pseudo_parser/upf_parser/__init__.py
Due: none

CLI: verification
  aiida_sssp_workflow/cli/launch.py
  aiida_sssp_workflow/cli/options.py
  aiida_sssp_workflow/cli/workflows/verification.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/verifications.py
Due: none

parser exitcode when fail for parsing
  aiida_sssp_workflow/workflows/verifications.py
  pseudo_parser/upf_parser/__init__.py
Due: none

Add prperties list in verification WF inputs
  aiida_sssp_workflow/sssp_protocol.yml
  aiida_sssp_workflow/workflows/verifications.py
  examples/example_delta_factor.py
  examples/example_verification_SiF4.py
  examples/example_verification_Sm.py
  tests/_static/F_ONCV_PBE-1.2.upf
  tests/_static/Sm.GGA-PBE-paw-v1.0.UPF
Due: none

Robustness by test for F and lanthanides
  aiida_sssp_workflow/sssp_protocol.yml
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/legacy_convergence/bands.py
  aiida_sssp_workflow/workflows/legacy_convergence/cohesive_energy.py
  aiida_sssp_workflow/workflows/legacy_convergence/phonon_frequencies.py
  aiida_sssp_workflow/workflows/legacy_convergence/pressure.py
  examples/example_verification_Sm.py
Due: none

pre-commit fixes
  aiida_sssp_workflow/cli/options.py
  aiida_sssp_workflow/cli/workflows/delta_factor.py
  aiida_sssp_workflow/cli/workflows/verification.py
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/verifications.py
  pyproject.toml
  test_pseudo_parser/test_upf.py
Due: none

release 0.2.0-beta.0
  CHANGELOG.md
  aiida_sssp_workflow/__init__.py
  setup.json
  setup.py
Due: mypy, version-number

loose ase version for aiidalab compatible
  setup.json
Due: version-number

Protocol: separate the calculation and selection protocols
  SELECT_PROTOCOL.yml
  aiida_sssp_workflow/CALC_PROTOCOL.yml
  aiida_sssp_workflow/cli/options.py
  aiida_sssp_workflow/workflows/bands_distance.py
  aiida_sssp_workflow/workflows/convergence/base.py
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/verifications.py
  docs/source/user_guide/get_started.rst
  examples/example_delta_factor.py
  setup.py
Due: none

Protocol: separate type of protocols and add new protocol
  SELECT_PROTOCOL.yml
  aiida_sssp_workflow/CALC_PROTOCOL.yml
  aiida_sssp_workflow/cli/options.py
  aiida_sssp_workflow/workflows/bands_distance.py
  aiida_sssp_workflow/workflows/convergence/base.py
  aiida_sssp_workflow/workflows/delta_factor.py
  aiida_sssp_workflow/workflows/legacy_convergence/_base.py
  aiida_sssp_workflow/workflows/verifications.py
  docs/source/user_guide/get_started.rst
  examples/example_delta_factor.py
  setup.py
Due: none

VeriWF: out the pseudo_info first and reset clean_workdir design
  aiida_sssp_workflow/workflows/verifications.py
Due: none
